.driver {
    position: relative;
    background-image: url("../images/onion-2699531_1920.jpg");
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7), black);
    }

    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
        z-index: 2;


        .driver-text {
            padding-top: 150px;


            span {
                color: yellowgreen;
                text-transform: uppercase;
                letter-spacing: 4px;
                font-size: 15px;
                display: block;
                margin-bottom: 20px;
            }

            h1 {
                margin: 0;
                font-family: 'Montserrat', sans-serif;
                @include fluid-type (320px, 1230px, 40px, 75px);
                font-weight: 900;
                color: white;
                margin-bottom: 15px;

                @media(max-width: 640px) {
                    text-align: center;
                    width: 100%;
                }
            }

            div {
                height: 80px;

                h1 {
                    opacity: 1;
                    color: yellowgreen;
                    top: 0px;


                    &.reset {
                        opacity: 0;
                        top: 0px;
                        transform: translateY(60px);
                    }

                    &.in {
                        opacity: 1;
                        top: 0px;
                        // transform: translateY(-60px);
                        transition: top, opacity, 0.2s;
                    }

                    &.out {
                        opacity: 0;
                        transform: translateY(-100px);
                        transition: top, 0.3s;
                        // transition-delay: 0.5s;

                    }
                }
            }
        }
    }
}


h2 {
    margin: 0;
    @include fluid-type (320px, 1230px, 30px, 55px);
    font-weight: 700;
    color: white;
    margin-bottom: 30px;

    @media(max-width: 640px) {
        text-align: center;
        width: 100%;
    }
}